{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <form action="" id="them_nnt" class="mt-5">{% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1"><label for="mst">Mã số thuế:</label></div>
                <div class="col-4"><input type="text" name="mst" class="form-control form-control-sm" required></div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1"><label for="ten">Tên NNT:</label></div>
                <div class="col-4"><input type="text" name="ten_nnt" class="form-control form-control-sm" required></div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1"><label for="dia_chi">Địa chỉ:</label></div>
                <div class="col-4"> <input type="text" name="dia_chi" class="form-control form-control-sm" required></div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1"><label for="mst">CQT quản lý:</label></div>
                <div class="col-4">
                    <select name="cqt" id="" class="form-control input-sm" required>
                        <option value="" disable selected>--Cơ quan thuế quản lý--</option>
                        <option value="Cục Thuế tỉnh Quảng Trị">Cục Thuế tỉnh Quảng Trị</option>
                        <option value="CCT KV Đông Hà - Cam Lộ">CCT KV Đông Hà - Cam Lộ</option>
                        <option value="CCT KV Triệu Hải">CCT KV Triệu Hải</option>
                        <option value="CCT KV Vĩnh Linh - Gio Linh">CCT KV Vĩnh Linh - Gio Linh</option>
                        <option value="CCT huyện Đakrông">CCT huyện Đakrông</option>
                        <option value="CCT huyện Hướng Hóa">CCT huyện Hướng Hóa</option>
                        <option value="CCT huyện Cồn Cỏ">CCT huyện Cồn Cỏ</option>
                    </select>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mt-2"><button type="submit" class="btn btn-primary form-control" style="width: 20%; margin-left:30%;">Thêm mới</button></div>
            <div class="col-4"></div>
        </div>
    </form>
    {% comment %} <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4"> 
            <form action="" id="them_nnt" method="GET">{% csrf_token %}              
                <div class="form-group"> 
                    <label for="mst">Mã số thuế:</label>                
                    <input type="text" name="mst" class="form-control form-control-sm" required>
                </div>
                <div class="form-group">
                    <input type="text" name="ten_nnt" class="form-control form-control-sm" placeholder="Tên NNT" required>
                </div>
                <div class="form-group">
                    <input type="text" name="dia_chi" class="form-control form-control-sm" placeholder="Địa chỉ" required>
                </div>
                <div class="form-group">   
                    <select name="cqt" id="" class="form-control input-sm" required>
                        <option value="" disable selected>--Cơ quan thuế quản lý--</option>
                        <option value="Cục Thuế tỉnh Quảng Trị">Cục Thuế tỉnh Quảng Trị</option>
                        <option value="CCT KV Đông Hà - Cam Lộ">CCT KV Đông Hà - Cam Lộ</option>
                        <option value="CCT KV Triệu Hải">CCT KV Triệu Hải</option>
                        <option value="CCT KV Vĩnh Linh - Gio Linh">CCT KV Vĩnh Linh - Gio Linh</option>
                        <option value="CCT huyện Đakrông">CCT huyện Đakrông</option>
                        <option value="CCT huyện Hướng Hóa">CCT huyện Hướng Hóa</option>
                        <option value="CCT huyện Cồn Cỏ">CCT huyện Cồn Cỏ</option>
                    </select>
                </div> 
                <button type="submit" class="btn btn-primary form-control" style="width: 20%; margin-left: 40%;">Thêm mới</button>
            </form>          
    </div> {% endcomment %}
     
    <div class="row mt-4">
        <div class="col-1"></div>
        <div class="col-10"> 
            <table id="userTable" class="table table-hover table-sm" style="font-size:10pt;">
                <thead class="bg-warning">
                    <th class="col-1">MST</th>
                    <th class="col-4">Tên NNT</th>
                    <th class="col-4">Địa chỉ</th>
                    <th class="col-2">CQT quản lý</th>
                    <th></th>
                    <th></th>
                </thead>
                {% for nnt in dba %}
                <tr id="nnt-{{nnt.id}}" class="">
                    <td class="mst userData" name="mst">{{nnt.mst}}</td>
                    <td class="ten_nnt userData" name="ten_nnt">{{nnt.ten_nnt}}</td>
                    <td class="dia_chi userData" name="dia_chi">{{nnt.dia_chi}}</td>
                    <td class="cqt userData" name="cqt">{{nnt.cqt}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm form-control update_nnt" value="{{nnt.id}}" 
                                data-toggle="modal" data-target="#UpdateModal">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm form-control xoa_nnt" value="{{nnt.id}}">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật thông tin NNT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <form action="" id="UpdateNNT">
                <div class="modal-body">
                    <input class="form-control" name="formId" id="form-id" type="hidden" name="formId"/>
                    <label for="mst">Mã số thuế</label>                 
                    <input type="text" name="formMst" id="form-mst" class="form-control" minlength="10" maxlength="14" disabled>
                    <label for="ten_nnt">Tên NNT</label>
                    <input type="text" name="formTen" id="form-ten" class="form-control" required>
                    <label for="dia_chi">Địa chỉ</label>                 
                    <input type="text" name="formDchi" id="form-dchi" class="form-control" required>
                    <label for="cqt">Cơ quan thuế quản lý</label>  
                        <select name="formCqt" id="form-cqt" class="form-control" required>
                            <option value="" disable selected>--Cơ quan thuế quản lý--</option>
                            <option value="Cục Thuế tỉnh Quảng Trị">Cục Thuế tỉnh Quảng Trị</option>
                            <option value="CCT KV Đông Hà - Cam Lộ">CCT KV Đông Hà - Cam Lộ</option>
                            <option value="CCT KV Triệu Hải">CCT KV Triệu Hải</option>
                            <option value="CCT KV Vĩnh Linh - Gio Linh">CCT KV Vĩnh Linh - Gio Linh</option>
                            <option value="CCT huyện Đakrông">CCT huyện Đakrông</option>
                            <option value="CCT huyện Hướng Hóa">CCT huyện Hướng Hóa</option>
                            <option value="CCT huyện Cồn Cỏ">CCT huyện Cồn Cỏ</option>
                        </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>      
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src={% static 'js/dba_nnt.js' %} type="text/javascript"></script>
<script src={% static 'js/fancyTable.js' %} type="text/javascript"></script>
{% endblock script %}

{% block style %}
<style>

</style>
{% endblock style %}