{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">    
    <h2>Thiết lập chung</h2>
    <form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Custom file:</p>
    <div class="row">
        <div class="col-3">
            <p class="text-uppercase" style="padding-left: 50%">file 1</p>
        </div>
        <div class="col-6">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="myfile" accept=".csv" required>
                <label class="custom-file-label" for="customFile"></label>
            </div>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="mt-2">
        <center><button type="submit" class="btn btn-primary">UPLOAD</button></center>
    </div>
    </form>
    <div class="mt-2">
</div>
{% endblock content %}
{% block script %}
<script>
	$('#customFile').on('change', function(){ 
		files = $(this)[0].files; 
		name = ''; 
		for(var i = 0; i < files.length; i++){ 
			name += files[i].name + (i != files.length-1 ? ", " : ""); 
		} 
	$(".custom-file-label").html(name); });
</script>
{% endblock script %}