{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">    
    <h2 style="padding-bottom: 12px;">Thiết lập chung</h2>
    <li><b class="text-primary" style="font-size: 18pt;">Quyết định</b></li>
    <div class="row">
        <div class="col-md-8">
            <table id="can_cu" class="table table-striped">
            <tr>
                <th>Số QĐ</th>
                <th>Nội dung</th>
                <th>Ngày ban hành</th>
                <th></th>
            </tr>
            <form action="" id="update_qd">
            {% for qd in cancu %}
            <tr id="qd-{{qd.id}}">
                <td class="QDso QdData" name="QDso">{{qd.so_qd}}</td>
                <td class="QDten QdData" name="QDten">{{qd.ten_qd}}</td>
                <td class="QDngay QdData" name="QDngay">{{qd.ngay_qd|date:"d/m/Y"}}</td>
                <td align="center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success cap_nhat_qd" value="{{qd.id}}" data-toggle="modal" data-target="#UpdateQD">
                        <i class="bi bi-pencil-fill"></i>
                    </button>                   
                </td>
            </tr>
            {% endfor %} 
            </form>          
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="UpdateQD" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quyết định</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <form action="" id="modal_qd_form">
                    <div class="modal-body">
                        <input class="form-control" id="qd-id" type="hidden"/>
                        <label for="soQD">Số Quyết định</label>                 
                        <input class="form-control" type="text" id="qd-so" class="form-control" maxlength="25" required>
                        <label for="tenQD">Nội dung Quyết định</label>
                        <input class="form-control" type="text" id="qd-ten" class="form-control" required>
                        <label for="ngay">Ngày ban hành</label>                 
                        <input class="form-control" type="date" id="qd-ngay" class="form-control" data-date="" data-date-format="DD/MM/YYYY" required>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <li><b class="text-primary" style="font-size: 18pt;">Lãnh đạo phê duyệt</b></li>
    <div class="row">
        <div class="col-md-8">
            <table id="LDTable" class="table table-striped">
            <tr>
                <th></th>
                <th>Tên</th>
                <th>Chức vụ</th>
                <th></th>
            </tr>
            {% for ld in ld_phe_duyet %}
            <tr id="ld-{{ld.id}}">
                <td class="LDgt LdData" name="LDgt">{{ld.ld_gt}}</td>
                <td class="LDten LdData" name="LDten"><p id="ld_ten">{{ld.ld_ten}}</p></td>
                <td class="LDcv LdData" name="LDcv">{{ld.ld_cv}}</td>
                <td align="left">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success edit_btn" value="{{ld.id}}">
                        <i class="bi bi-pencil-fill"></i> Sửa
                    </button>
                    <button type="button" class="btn btn-danger save_btn" value="{{ld.id}}">
                        <i class="bi bi-file-check-fill"></i> Lưu
                    </button>
                    <button type="button" class="btn btn-primary cancel_btn" value="{{ld.id}}">
                        <i class="bi bi-file-excel-fill"></i> Đóng
                    </button>
                </td>
            </tr>
            {% endfor %}           
            </table>
        </div>
    </div> 
</div>

{% endblock content %}
{% block script %}
<script src={% static 'js/thiet_lap_chung.js' %} type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>

</script>
{% endblock script %}