{% extends 'apps/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">    
		<h2>Lập phiếu xác minh hóa đơn</h2>
		<p style="padding-top: 6px;">
		Ứng dụng hỗ trợ cán bộ thuế lập phiếu xác minh hóa đơn từ bảng kê hóa đơn của NNT.<br>
		<p style="padding-top: 6px;">
		<b><u>Hướng dẫn:</b></u><br> 
		 - Tải mẫu bảng kê hóa đơn <a href="{% static 'media/BKHD.xlsx' %}"><u>tại đây</u></a>.<br>
		 - Điền thông tin theo như hướng dẫn và tải bảng kê lên ứng dụng.<br>
		 - Điền thông tin cán bộ và lãnh đạo để kết xuất "Phiếu xác minh hóa đơn".</p>
	
		<form action="#" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-3">
				<p class="text" style="padding-left: 50%"></p>
			</div>
			<div class="col-6">
				<div class="custom-file mb-3">
					<input type="file" class="custom-file-input" id="customFile" name="myfile" accept=".xlsx, .xls" required>
					<label class="custom-file-label" for="customFile"></label>
				</div>
			</div>
			<div class="col-4">
				
			</div>
		</div>
		<div class="mt-2">
		  <center><button type="submit" class="btn btn-primary">UPLOAD <i class="fa fa-upload" aria-hidden="true"></i></button></center>
		</div>
		</form>
		<div class="mt-2" style="color:red; font-weight: bold;">
		{% for error in errors %}
			<p>- {{error}}</p>
		{% endfor %}
		</div>		
	</div>
{% endblock content %}
{% block script %}
	$('#customFile').on('change', function(){ 
		files = $(this)[0].files; 
		name = ''; 
		for(var i = 0; i < files.length; i++){ 
			name += files[i].name + (i != files.length-1 ? ", " : ""); 
		} 
	$(".custom-file-label").html(name); });
{% endblock script %}