{% extends 'apps/base.html' %}
{% block content %}
    {% comment %} {% if uploaded_file_url %}
    	<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  	{% endif %} {% endcomment %}
	<div class="container-fruid">
		<br>
		<div style="text-align: center">
			<h2>PHIẾU YÊU CẦU XÁC MINH NỘI DUNG KINH TẾ CỦA ẤN CHỈ</h2>
		</div>
		<h6 style="padding-left: 20%; padding-top: 16px;">Đơn vị mua hàng: {{dvmh.ten_dv_mua}}</h6>
		<h6 style="padding-left: 20%;">Mã số thuế: {{dvmh.mst_dv_mua}}</h6>
		{% comment %} câu lệnh with: giữa dấu "=" k có khoảng trống {% endcomment %}
		{% comment %} {% with aa='42' %}
			<h1 style="padding-left: 20%;">gtfd{{aa}}</h1>          
		{% endwith %} {% endcomment %}
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#index" style="margin-left: 20%;">Đơn vị bán hàng</button>
		<div id="index" class="collapse show">
		<br>
		{% for k, data in dvbh.items %}		
			<p style="margin-left: 20%;"><a data-toggle="collapse" href="#mst{{k}}">{{k}} - {{data.0.ten}}</a></p>
			<div id="mst{{k}}" class="collapse" style="margin: 0 2% 0 2%;">
				<table class="table table-primary table-hover table-bordered table-sm" id="xmhd-table">
					<thead>
					<tr>
						<th rowspan="2">Số TT</th>
						<th rowspan="2">Ký hiệu mẫu ấn chỉ</th>
						<th rowspan="2">Ký hiệu hóa đơn</th>
						<th rowspan="2">Hóa đơn số</th>
						<th colspan="4">NỘI DUNG LIÊN 2 HÓA ĐƠN</th>
						<th colspan="4">NỘI DUNG LIÊN 1 HÓA ĐƠN<br></th>
						<th rowspan="2">Vi phạm</th>
					</tr>
					<tr>
						<th>Đơn vị bán hàng</th>
						<th>Mã số thuế</th>
						<th>Số tiền thuế GTGT</th>
						<th>Ngày lập hóa đơn</th>
						<th>Đơn vị mua hàng</th>
						<th>Mã số thuế</th>
						<th>Số tiền thuế GTGT</th>
						<th>Ngày lập hóa đơn</th>
						</tr>
					</thead>
					<tbody>
						{% if data %}   
							{% for i in data %} 
							<tr> 
								<td>{{forloop.counter}}</td> 
								<td>{{i.mau}}</td> 
								<td>{{i.ky_hieu}}</td> 
								<td>{{i.so}}</td> 
								<td>{{i.ten}}</td>
								<td>{{i.mst}}</td> 
								<td>{{i.doanh_so}}</td> 
								<td>{{i.ngay}}</td> 
								<td></td> 
								<td></td>  
								<td></td> 
								<td></td>
								<td></td>
							</tr> 
							{% endfor %} 
						{% endif %} 						
					</tbody>
				</table>
			</div>		
		{% endfor %}
		</div>
		<form method="POST">
		{% csrf_token %}
			<table style="margin: auto;">
				<tbody>
					<tr>
						<td width="40%">
						<div class="form-group" style="padding: 0 10% 0 10%;">
							<center><label for="focusedInput"><b>Cán bộ yêu cầu xác minh</b></label></center>
						</div>
						</td>
						<td width="40%">
						<div class="form-group" style="padding: 0 10% 0 5%;">
							<center>
								<div class="input-group">
									<div class="input-group-prepend">
										<label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Lãnh đạo phê duyệt</label>
									</div>
									<select class="custom-select" id="inputGroupSelect01" name="lanhdao">
										{% comment %} <option selected>Choose...</option> {% endcomment %}
										<option value="1">CỤC TRƯỞNG</option>
										<option value="2">PHÓ CỤC TRƯỞNG</option>
										<option value="3">TRƯỞNG PHÒNG TT-KT</option>
									</select>
								</div>
							</center>
						</div>
						</td>
					</tr>
					<tr>
						<td width="30%">
						<div class="form-group" style="padding: 0 30% 0 30%;">
							<input class="form-control" id="focusedInput" type="text"  name="cbxm" required>
						</div>
						</td>
						<td width="30%">
						<div class="form-group" style="padding: 0 20% 0 20%;">
							<input class="form-control" id="focusedInput" type="text" name="tp" required>
						</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<center><button type="submit" class="btn btn-primary">Download  
							<i class="fa fa-download" aria-hidden="true"></i></button></center>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div> 
{% endblock content %}
{% block style %}
	#xmhd-table {
		font-size: 10pt; 
		text-align: center; 
		border-spacing: 0px; 
		vertical-align: middle;
	}
	#xmhd-table th {
		vertical-align: middle;
	}
{% endblock style %}
{% block script %}
	
{% endblock script %}